<section id="home" class="hero-section">
  <div class="hero-left">
    <h1 class="hero-name">Nasira Batool</h1>
    <h2 class="hero-title">Full Stack Developer <span>(Ionic • Angular • PHP • MySQL)</span></h2>
    <p class="hero-intro">
     I specialize in building modern web and mobile applications using Ionic, Angular, and PHP.
     I develop scalable backend APIs and integrate them with responsive mobile and web interfaces.
     I have experience in developing real-world applications, including a live CRM system used by active users.

    </p>
    <div class="hero-buttons">
      <a href="#projects" class="btn primary">View Projects</a>
      <a href="#contact" class="btn secondary">Contact Me</a>
    </div>
  </div>
  <div class="hero-right">
    <div class="hero-image-bg"></div>
    <img src="assets/icons/illustration.png" alt="Profile Illustration" class="hero-image" />
  </div>
</section>
