<section id="skills" class="skills-section">
  <h2 class="skills-title">Skills</h2>
  <div class="skills-page">
    <div class="skills-row">
      <div class="skill-block">
        <img src="assets/icons/ionic.png" alt="Ionic" class="skill-img" />
        <span class="skill-label">Ionic</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 100%"></div></div>
      </div>
      <div class="skill-block">
        <img src="assets/icons/angular.png" alt="Angular" class="skill-img" />
        <span class="skill-label">Angular</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 100%"></div></div>
      </div>
       <div class="skill-block">
        <img src="assets/icons/php.png" alt="PHP" class="skill-img" />
        <span class="skill-label">PHP</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 100%"></div></div>
      </div>
      <div class="skill-block">
        <img src="assets/icons/typescript.png" alt="TypeScript" class="skill-img" />
        <span class="skill-label">TypeScript</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 90%"></div></div>
      </div>
      <div class="skill-block">
        <img src="assets/icons/html-5.png" alt="HTML5 & CSS3" class="skill-img" />
        <span class="skill-label">HTML5 & CSS3</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 87%"></div></div>
      </div>
      <div class="skill-block">
        <img src="assets/icons/css.png" alt="SCSS" class="skill-img" />
        <span class="skill-label">SCSS</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 80%"></div></div>
      </div>
       <div class="skill-block">
        <img src="assets/icons/mysql.png" alt="MySQL" class="skill-img" />
        <span class="skill-label">MySQL</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 88%"></div></div>
      </div>
       <div class="skill-block">
        <img src="assets/icons/figma.png" alt="Figma" class="skill-img" />
        <span class="skill-label">Figma</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 80%"></div></div>
      </div>
    </div>
    <div class="skills-row">
      <div class="skill-block">
        <img src="assets/icons/restApi.png" alt="REST APIs" class="skill-img" />
        <span class="skill-label">REST APIs</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 100%"></div></div>
      </div>
      <div class="skill-block">
        <img src="assets/icons/authentication.png" alt="Authentication & Security" class="skill-img" />
        <span class="skill-label">Authentication & Security</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 100%"></div></div>
      </div>
         <div class="skill-block">
        <img src="assets/icons/git.png" alt="Git & GitHub" class="skill-img" />
        <span class="skill-label">Git & GitHub</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 70%"></div></div>
      </div>
        <div class="skill-block">
        <img src="assets/icons/postman-icon.webp" alt="Postman" class="skill-img" />
        <span class="skill-label">Postman</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 100%"></div></div>
      </div>
    </div>
    <div class="skills-row">
      <!-- <div class="skill-block">
        <img src="assets/skills/agile.svg" alt="Agile & Scrum" class="skill-img" />
        <span class="skill-label">Agile & Scrum</span>
        <div class="skill-bar"><div class="skill-bar-fill" style="width: 80%"></div></div>
      </div> -->
    </div>
  </div>
</section>
